.posts {
    flex: 9;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media only screen and (max-width: 935px) {
    .posts {
        flex:none;
        width: 100%;
    }
  }