.login2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("../../../public/images/login.jpg");
  background-size: cover;
  font-family: 'Lora', serif;
}

.loginTitle2 {
  font-size: 4.5rem;
  font-weight: bold;
}

.loginForm2 {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  margin-bottom: 20px;
}

.loginForm2>label {
  margin: 40px 0;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}

.loginInput2 {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Lora', serif;
  font-size: 1rem;
}

.loginInput2:focus {
  outline: none;
}

.loginRegisterButton2 {
  position: absolute;
  top: 7%;
  right: 0;
}

@media only screen and (max-width: 1065px) {
  .login2 {
    margin-top: 50px;
  }

  .loginForm2 {
    width: 70%;
  }

  .loginTitle2 {
    margin-top: 30px;
  }

  .loginRegisterButton2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    font-size: 1.8rem !important;
    margin-top: 40px;
  }
}